TZ=America/Argentina/Mendoza
#
VIRTUAL_HOST=phpipam.micasa.local
VIRTUAL_PORT=80
#
IPAM_ADMIN_PASS=ChangeIT
IPAM_BASE=/phpipam/
#
IPAM_DATABASE_HOST=db
IPAM_DATABASE_USER=phpipam
IPAM_DATABASE_PASS=ChangeIT
IPAM_DATABASE_NAME=phpipam
#
#IPAM_GMAPS_API_KEY=
#
IPAM_DEBUG=false
#
SCAN_INTERVAL=1h
